<html>
<head>
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
</head>

	<body>
		<div class = 'pane'>
			<h1>Restaurants</h1>
		
			<a href = "{{url_for('newRestaurant')}}"><h4>Create a New Restaurant </h4></a>

			{% for r in restaurant %}

				<h3><a href = '{{url_for('showMenu', restaurant_id=r.id) }}'><p>{{r.name}}</p></a></h3>
				<a href='{{url_for('editRestaurant',restaurant_id = r.id)}}'>Edit</a>
				<a href='{{url_for('deleteRestaurant', restaurant_id = r.id)}}'>Delete</a>

			{% endfor %}
		</div>

	</body>

</html>